<div class="p-5 mb-4 bg-body-tertiary rounded-3 jumbotron">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{welcomeTitle}}</h1>
        <p class="col-md-12 fs-4 jumbotron-text">{{welcomeText}}</p>
        <button class="btn btn-danger btn-lg" type="button" disabled>{{welcomeButton}}</button>
    </div>
</div>
<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>{{webpackTitle}}</h2>
            <p>{{webpackText}}</p>
            <button class="btn btn-danger" type="button" disabled>{{webpackButtonText1}}<br>{{webpackButtonText2}}</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>{{jestAngularPresetTitle}}</h2>
            <p>{{jestAngularPresetText}}</p>
            <button class="btn btn-danger" type="button" disabled>{{jestAngularPresetButton1}}<br>{{jestAngularPresetButton2}}</button>
        </div>
    </div>
</div>