<div class="p-5 mb-4 bg-body-tertiary rounded-3 jumbotron">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Angular 14</h1>
        <p class="col-md-12 fs-4 jumbotron-text">This is a Angular and Webpack Boilerplate Template containing Jest
            for testing. This example uses Lazy Loading to speed up the Application.</p>
        <button class="btn btn-danger btn-lg" type="button" disabled>Try it out!</button>
    </div>
</div>

<div class="row align-items-md-stretch">
    <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Webpack</h2>
            <p>This Boilerplate containes an dev and prod environment. In the production environment an optimization
                is included which compress the bundle.js and makes it faster. </p>
            <button class="btn btn-danger" type="button" disabled>npm run start:prod<br>npm run start:dev</button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Jest Angular Preset</h2>
            <p>For testing the Angular Application Jest is included. You can run Unit Tests and check the test
                coverage overall.</p>
            <button class="btn btn-danger" type="button" disabled>npm run test<br>npm run test:coverage</button>
        </div>
    </div>
</div>

<footer class="pt-3 mt-4 text-body-secondary border-top">
    Bernhard Mehler © 2023
</footer>